langchain
langchain-community
langchain-google_genai
langchain-google_genai
langchain-huggingface
flask-cors
sqlalchemy
sqlalchemy_utils
accelerate
pymupdf
pandas
torch
langchain_core
langchain_chroma
dotenv
bitsandbytes
seaborn
transformers==4.49.0
numpy==1.25.2
